body {
    margin: 30px 10%;
    background-color: lightgray;
}
#result {
    background-color: lightskyblue;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #fff;
    min-height: 30px;
    padding: 10px;
}